.change-password-page {
  display: flex;
  justify-content: center;
  width: 100%;

  hr {
    margin: 24px 0;
  }
}

.change-password {
  width: 100%;
  max-width: 510px;

  &__form-actions {
    margin-top: 32px;
  }
}
