:root {
  --primary: #519EF3;

  --text-primary: #263044;
  --text-paragraph: #434854;
  --text-secondary: #868A95;
  --link-color: #519EF3;

  --bg-color: #F4F4F4;
  --delimiter: #E5E6E9;

  --alert-color: #EB3235;
}